table,
td {
    border: solid black 1px;
}

table {
    table-layout: fixed;
}

td {
    padding: 4px;
}

table {
    width: 490px;
    height: 490px;
}

tr {
    height: 70px;
}

td {
    width: 70px;
}

.white {
    background-color: #ffffff;
}

.black {
    background-color: #000000;
}

.selected {
    background-color: #FF0000;
}

body {
    background-image: linear-gradient(to bottom right,#c7c7c7, grey);
    background-attachment: fixed;
}

.margin-bottom {
    margin-bottom: 100px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#player1,
#player1Points,
#turn1 {
    color: blue;
}


#player2,
#player2Points,
#turn2 {
    color: red;
}

div.content {
    margin-top: 30px;
}
th {
    text-align: center;
}

footer {
    background-color: #343a40;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}
